# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX=dev

# Updating AZURE_SUBSCRIPTION_ID or AZURE_RESOURCE_GROUP_NAME after provision may also require an update to RESOURCE_SUFFIX, because some services require a globally unique name across subscriptions/resource groups.
AZURE_SUBSCRIPTION_ID=YOUR_SUBSCRIPTION_ID
AZURE_RESOURCE_GROUP_NAME=YOUR_RESOURCE_GROUP
RESOURCE_SUFFIX=YOUR_SUFFIX

# Generated during provision, you can also add your own variables.
BOT_ID=YOUR_BOT_ID
TEAMS_APP_ID=YOUR_TEAMS_APP_ID
BOT_AZURE_APP_SERVICE_RESOURCE_ID=/subscriptions/YOUR_SUBSCRIPTION_ID/resourceGroups/YOUR_RESOURCE_GROUP/providers/Microsoft.Web/sites/YOUR_BOT_NAME
BOT_DOMAIN=YOUR_BOT_NAME.azurewebsites.net
TEAMS_APP_TENANT_ID=YOUR_TENANT_ID
BOT_TENANT_ID=YOUR_TENANT_ID
